.cardsContainer {
    margin: 4vh 4vw;

    /* will work further on the responsive design:this value was for testing only */
    width: 100vw;
    height: 100vh;
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    /* set for presentation screen only */
    margin: 1vh 14vw;

    /* to be checked */
    justify-content: flex-start;
    align-items: center;
    /* to be checked */
    overflow-y: scroll;
}


.cardsContainer .card {
    position: relative;
    margin: 0 5px;
    width: 300px;
    height: 400px;
    /* depends on the number of buttons that will appear/depending on the item */
    background: var(--mainBgColor);
    margin: 1vh 1vw;
    flex-wrap: wrap;
    border-radius: 20px;
    /* to control the translateY upward movement */
    overflow: hidden;
    padding: 10px;
}

.cardsContainer .card .imgSection {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    z-index: 10;
    transform-origin: top;
    border-radius: 20px;
    overflow: hidden;
    /* display: none; */
}

.cardsContainer .card .titleSection {
    position: absolute;
    top: 30%;
    left: 0%;
    padding: 0 0.8vw;
    width: 100%;
    height: 40%;
    z-index: 10;
    font-size: 1.2rem;
    background-color: var(--mainBgColorHeavy);
}

.cardsContainer .card .titleSection h3,
.cardsContainer .card .titleSection h2 {
    color: var(--spanColor);
}

.cardsContainer .card:hover .titleSection {
    display: none;
}


.cardsContainer .card:hover .imgSection {
    /* depends on the number of buttons that will appear/depending on the item */
    transform: translateY(10px) scale(0.25);
    /* display: none; */
}


.cardsContainer .card .imgSection img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardsContainer .card .itemInfo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 1vh;
    /* to add smooth Ytransition when hovering over the card */
    transform: translateY(100%);
    transition: 0.5s;
}

.cardsContainer .card:hover .itemInfo {
    transform: translateY(0);
}


.cardsContainer .card .itemInfo .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5vw;
}


.cardsContainer .card .itemInfo .details h2 {
    font-size: 1.7em;
    font-weight: 500;
}


.cardsContainer .card .itemInfo .details h3 {
    font-size: 1.1em;
    font-weight: 400;
    color: var(--spanColor);
}

.cardsContainer h3,
.cardsContainer h5,
.cardsContainer h6 {
    font-size: 1.1rem;
    font-weight: 400;
}

.actionButtons li {
    border-radius: 1vw;
    background-color: var(--lightBgColor);
    width: 5vw;
    margin: 1vh 1vw;
    padding: 0.5vh 0.5vw;
    display: block;
    text-align: center;
    align-content: center;
}

.actionButtons li:hover {
    transform: scale(1.1);
}