.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    background-color: var(--mainBgColor);
    padding: 0 5rem;
    position: relative;
    min-width: 100vw;
}

.NavBar span {
    font-size: small;
    color: var(--spanColor);
    font-size: 2vh;
    letter-spacing: 0px;
    margin-left: 1vw;
}

.NavBar input {
    display: inline;
}

.navBarLogo :hover {
    cursor: pointer;
}

.NavBar ul {
    display: flex;
}

.NavBar ul li {
    margin: 0 1rem;
}

.navBarItem a {
    display: block;
    position: relative;
}

.navBarItem a:hover {
    color: black;
}

.navBarItem a::after {
    content: "";
    position: absolute;
    height: 0.1rem;
    width: 0;
    left: 0;
    top: 1.5rem;
    background-color: var(--mainBgColor);
    transition: width 0.3s linear;
}

.navBarItem a:hover::after {
    width: 100%;
}


.normalMenuIcon {
    display: none;
    font-size: 2rem;
}

.burgerMenuIcon {
    display: none;
    font-size: 2rem;
}


/* to control the appearance of the burgerMenu */
@media screen and (max-width:800px) {
    .navBar {
        padding: 0 1rem;
    }
}

@media screen and (max-width:750px) {
    .burgerMenuIcon {
        display: block;
    }

    .NavBar ul {
        flex-direction: column;
        position: fixed;
        top: 7vh;
        /* same background as the mainNav */
        background-color: var(--mainBgColor);
        width: 20%;
        height: 20%;
        right: -1000px;
        /* align-items: center; */
        justify-content: flex-start;
        transition: all 0.2s ease;
    }

    .NavBar input {
        width: 100%;
    }

    .NavBar ul.navBurger {
        right: 0px;
    }

}