.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: var(--mainBgColor);
    padding: 0 5rem;
    position: fixed;
    top: 0;
    min-width: 100vw;

}

.navBarItem span {
    position: absolute;
    right: -1.8vw;
    top: -8px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    font-size: 2vh;
    color: var(--spanColor);
}

.NavBar h1 span {
    font-size: 1.25rem;
    margin-left: 0.7vw;
}

.NavBar h1 {
    font-size: 2.7rem;
}


.NavBar input {
    display: inline;
    border-radius: 3vw;
    padding: 0.20vw;
    border: none;
    position: absolute;
    top: 2.7vh;
    right: 25vw;
}

.navBarLogo a:hover {
    cursor: pointer;
    color: var(--spanColor);
}

.NavBar ul {
    display: flex;
}

.NavBar ul li {
    margin: 0 1.8rem;
    font-size: 3vh;
}

.navBarItem a {
    display: block;
    position: relative;
    font-size: 1.6rem;
    transition: all 0.5 ease;
}

.navBarItem a:hover {
    color: var(--spanColor);
    transform: scale(1.3);
}

.navBarItem a::after {
    content: "";
    position: absolute;
    height: 0.15rem;
    width: 0;
    left: 0;
    top: 2.1rem;
    background-color: var(--mainBgColor);
    transition: width 0.3s linear;
}

.navBarItem a:hover::after {
    width: 100%;
}


.normalMenuIcon {
    display: none;
    font-size: 2rem;
}

.burgerMenuIcon {
    display: none;
    font-size: 2rem;
}


/* to control the appearance of the burgerMenu */
@media screen and (max-width:800px) {
    .navBar {
        padding: 0 1rem;
    }
}

@media screen and (max-width:750px) {
    .burgerMenuIcon {
        display: block;
    }

    .NavBar ul {
        flex-direction: column;
        position: fixed;
        top: 7vh;
        /* same background as the mainNav */
        background-color: var(--mainBgColor);
        width: 20%;
        height: 20%;
        right: -1000px;
        /* align-items: center; */
        justify-content: flex-start;
        transition: all 0.2s ease;
    }

    .NavBar input {
        width: 100%;
    }

    .NavBar ul.navBurger {
        right: 0px;
    }

}