/* not responsive yet */
.mainBox {
    margin: auto;
    width: 100vw;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.secondPart h3 {
    font-size: 1.5rem;
}

.registrationBox {
    max-width: 978px;
    width: 100vw;
    display: flex;
    border-radius: 1vw;
    background-color: var(--spanColor);
}

.registrationBox span {
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: underline;
}

#form {
    max-width: 320px;
    width: 100vw;
    margin: 2em auto;
}

.registrationBox input {
    border-radius: 2vh;
    border: 1px solid var(--spanColor);
    padding: 0.3rem 0.8rem;
    display: block;
    background-color: var(--mainBgColor);
}


.registrationBox .btn {
    background-color: var(--mainText);
    color: var(--spanColor);
    font-size: 1.1rem;
    font-weight: 900;
    cursor: pointer;
    padding: 1.2vh;
    border-radius: 2vh;
}

.registrationBox .btn:hover {
    transform: scale(1.1);
}

.left {
    display: flex;
    gap: 1em;
}

.leftCol {
    flex-direction: column;
}

.registrationBox .secondPart {
    margin: auto;
    padding: 3em 0;
}

.registrationBox .firstPart img {
    width: 26vw;
    height: 100%;
    border-top-left-radius: 1vw;
    border-bottom-left-radius: 1vw;
    opacity: 0.8;
}

.yesNoSelection label {
    display: inline;
    margin: 0 2px;
}

.yesNoSelection select {
    margin: 0 2px;
    border-radius: 2vh;
    background-color: var(--mainBgColor);
}

.yesNoSelection {
    display: block;
    margin-bottom: 1vh;
}

.categoryList {
    display: block;
    padding: 0.3rem 0.8rem;

}

.categoryList select {
    width: 76%;
    margin-left: 5px;
    padding: 0.3rem 0.8rem;
    border: none;
    border-radius: 2vh;
    background-color: var(--mainBgColor);
}