@import url('https://fonts.googleapis.com/css2?family=McLaren&display=swap');

/* darkMode & lightMode to be added Later */
:root {
    --mainText: rgba(64, 69, 94, 0.95);
}

/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Warlow Sans', sans-serif;
    color: var(--mainText);
    text-decoration: none;
    list-style: none;
    font-family: 'Secular One', sans-serif;
}




/* not responsive yet */
.mainBox {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.registrationBox {
    max-width: 978px;
    width: 100vw;
    display: flex;
    border: 1px solid #e9ecef;
    border-radius: 5px;
    box-shadow: 1px 3px 10px #e9ecef;
    background-color: white;

}

.registrationBox span {
    color: #adb5bd;
}

#form {
    max-width: 320px;
    width: 100vw;
    margin: 2em auto;
}

.registrationBox input {
    border: 1px solid #e9ecef;
    padding: 1em;
    display: block;

}

.registrationBox input:focus {
    outline: none;
}

.registrationBox .btn {
    background-color: #003049;
    color: #e9ecef;
    font-size: 1em;
    cursor: pointer;
    border: 1px solid #e9ecef;
    padding: 1em;
}

.left {
    display: flex;
    gap: 1em;
}

.leftCol {
    flex-direction: column;
}

.registrationBox .secondPart {
    margin: auto;
    padding: 3em 0;
}

.registrationBox .firstPart img {
    width: 480px;
    height: 100%;
    border-radius: 5px;
}